$logo_hight: 130px;

nav {
    width: 100%;
    margin: 0 ;
}

nav ul {
    width: 900px;
    margin: 0 auto;
    list-style: none;

    li { 
        overflow: auto; 
        display: inline-block;
        height: $logo_hight;
    }
    
    
  a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: $logo_hight/2;
    }
    
    #logo{
        cursor: pointer;
        margin-right: 100px;    
        width: 300px;
        top: 30px; 
    }
}


nav ul li:not(#logo):hover {
    background: #ccc;
    transition: 0s;
}

nav ul li:not(#logo) {
    background: #fff;
    transition: 1s;
}



body{
    margin: 0;
}

.mane {
    
    height: 100%;

    h1{
        text-align: center;
    }
    
    img.home {width: 100%;}
        
  
    
    
.menu div {
    margin: 10px auto;
    width: 80%;
}

.menu img {
    width: 100%;
    margin: 10px auto;
 }
    
    p {
        width: 80%;
        margin: 40px auto;
        font-family: sans-serif;
        color: #999;
    }
}

.news {
    
    div{
        margin: 30px 0 30px 0;
    }
    
    h2{
        text-align: center;
    }
    
    h5{
        margin-left: 10%;
        color: #999;
    }
    
    img{
        float:left;
        margin: 0 25px 15px 0;
        width: 300px;
    }
    
}

.footer{
    width: 100%;
    height: 200px;
    background: #aaa;
    margin-top: -5px;
}